<launch>    
    <arg name="robot_name" default="robot_0"/>
    <arg name="config" default="kiva_1x.cfg"/>
    <node pkg="usarros" type="diffdrive.py" name="usardiff" output="screen"
          args="config=$(find usarros)/config/$(arg config) robot=$(arg robot_name)"
          ns="$(arg robot_name)">
        <param name="tf_prefix" value="$(arg robot_name)"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="ros_to_usar" args="0 0 1.76 0 0 3.14159265359 odom usarsim 100" ns="$(arg robot_name)">
        <param name="tf_prefix" value="$(arg robot_name)"/>    
    </node>
</launch>
