<launch>
    <include file="$(find usarros)/launch/vehicle.launch">
        <arg name="robot_name" value="robot_0"/>
        <arg name="config" value="vmac2012.cfg"/>
    </include>

    <include file="$(find usarros)/launch/teleop-joy.launch">
        <arg name="robot_name" value="robot_0"/>
    </include>

    <node pkg="map_server" type="map_server" name="map_server" args="$(find vmac_interface)/maps/vmac2012.yaml">
        <param name="frame_id" value="/odom"/>
    </node>

</launch>
